<div class="sidebar">
   <div class="container-logo">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', class: 'logo' %>
        Home
      <% end %>
  </div>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>
</div>
